<h3>Designs</h3>

<%= form_for(@design) do |f| %>
<%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.text_field:name %>
  <%= f.text_area:data %>
  <%= f.submit :class => "btn btn-large btn-primary"%>
<% end %>