<% content_for :title do %>Design <% end %>
<h3 class="text-center">Design</h3>
<div class="row text-center">
<div class="span3 text-center">
   <%= image_tag "digital.png",  :style => "margin: 0 auto; display: block" %>
	<h4>Digital Electronics</h4>
  <p>We've worked on a lot of embedded systems.  From 8 bit micros to full blown Linux systems on a ARM Cortex A8.  We can help select and develop the platfrom so that it fits the needs of the product without breaking the bank. </p>
</div>
  <div class="span1 text-center"></div>
<div class="span3 text-center">
   <%= image_tag "analog.png",  :style => "margin: 0 auto; display: block" %>
	<h4>Analog Electronics</h4>
   <p>ReFactory has deep experience in developing analog front ends for signal conditioning.  Whether you are cleaning up a signal from a microphone or measuring the output from a capacitive piezo electric accelerometer, we can help design the circuit that gets the signal you need to acquire. </p>
</div>
  <div class="span1 text-center"></div>
<div class="span3 text-center">
   <%= image_tag "powersupply.png",  :style => "margin: 0 auto; display: block" %>
	<h4>Power Supply Design</h4>
   
  <p>ReFactory can help design what powers your next design.  We've designed every incarnation of switched mode power supplies as well as LiIon battery chargers and managements systems.  </p>

</div>
</div>
<div class="row text-center"></div>
<div class="row text-center">
<div class="span3 text-center">
    <%= image_tag "rf.png",  :style => "margin: 0 auto; display: block" %>
	<h4>RF Design</h4>

  <p>Our Engineers have worked on Zigbee, WiFi, Bluetooth and proprietary designs.  We understand the complexity and cost of RF design.  We've designed frontends from the ground up using discretes and we've done designs using modules as well.  ReFactory can help make the tough decisions when your design needs wireless capabilities</p>
</div>
  <div class="span1 text-center"></div>
<div class="span3 text-center">
   <%= image_tag "firmware.png",  :style => "margin: 0 auto; display: block" %>
	<h4>Firmware</h4>
 
   <p>ReFactory's engineers have built firmware on bare metal, used proprietary and OS RTOSes as well as embedded Linux.  ReFactory can help make the right decision when picking which path is best and we can offer help in developing the code. </p>
</div>
  <div class="span1 text-center"></div>
<div class="span3 text-center">
     <%= image_tag "testpoint.png",  :style => "margin: 0 auto; display: block" %>
	<h4>Design for Manufacturing</h4>
  <p>We get involved early in the design to ensure the product is not only manufacturable but inexpensive and easy to test once it's in production.   </p>
</div>
</div>