<ul class="nav">
  <a class="brand">ReFactory</a>
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to 'Services', page_path('services') %></li>
  <li><%= link_to 'Capabilities', page_path('capabilities') %></li>
  <li><%= link_to 'Contact', page_path('contact') %></li>
  <li><%= link_to 'About', page_path('about') %></li>
</ul>